.dashboardLayout-24KlS{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.bottom-7TJzw{
  width: 100%;
  height: 0px;
}
.box-tm0Cy{
  position: absolute;
  background-color: yellow;
}.box-2EnZS{
  position: absolute;
  background-color: red;
}.box-36JLw{
  position: absolute;
  background-color: blue;
}.box-1mCbD{
  position: absolute;
  background-color: green;
}

.dashboard-dWIQD{
  position: relative;
  width: auto;
  background-color: undefined;
}
h1{
  padding: 0;
  margin: 0;
}

.g1-1G1yN{
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: red;
}
.copyTest-3Wq2v{
  color: white;
  font-size: 20em;
}
/* .dropdown{
  position: relative;
  top: headerSize;
} */
