@value colors: './../../../../app-styles/settings/colors.css';
@value pirelli-yellow, copy-color from colors;

@value grapStyles: './../style.css';
@value infoH from grapStyles;
.pos{
  display: inline-block;
  z-index: 111;
}
.ytd{
  display: inline-block;
}
.switch{
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;

  color: black;
}
.switch:hover{
  color: white;
  cursor: pointer;
}

.imgContainer{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.nav{
  user-select: none;
}
.btli{
  position: relative;
  top: 7px;
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
}
.right{
  position: absolute;
  right: 0;
  top: 0;
}
.btli a{
  color: pirelli-yellow;
}
.btli a:hover{
  color: #e83028;
}

.btDrop{
  position: absolute;
  width: 100%;
  right: 0;
  top: 34px;
  z-index: 100;
}

.cb{}
.cb2{
  position: relative;
  top: -15px;
}
.cbCont{
  position: relative;
  top: 15px;
}
