body, html {
  background: #1d212c;
  margin: 0px;
  /*min-width: 650px;*/
  -webkit-font-smoothing: antialiased;
  font-family: 'Gotham-light', 'Arial Bold', sans-serif;
}
body {
  overflow: auto;
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.div-root {
  /* uncomment for unpleasant scrolls
  width: 100%;
  height: 100%;
  overflow: hidden;
  */
}

/* global webapp typography */
@font-face {
	font-family: 'Gotham-bold';
	src: url('../fonts/gotham-no/Gotham-Bold.eot');
	src: url('../fonts/gotham-no/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gotham-no/Gotham-Bold.woff') format('woff'),
		url('../fonts/gotham-no/Gotham-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-medium';
	src: url('../fonts/gotham-no/GothamMedium.eot');
	src: url('../fonts/gotham-no/GothamMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gotham-no/GothamMedium.woff') format('woff'),
		url('../fonts/gotham-no/GothamMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-light';
	src: url('../fonts/gotham-no/Gotham-Light.eot');
	src: url('../fonts/gotham-no/Gotham-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gotham-no/Gotham-Light.woff') format('woff'),
		url('../fonts/gotham-no/Gotham-Light.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

.loader-page, .greetings {
  position: fixed;
  background-color: #d4d4d4;
  width: 100%;
  height: 100%;
  z-index: 111;
  color: black;
  font-family: 'Gotham-light';
}

.loader-page-content, .greetings-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader-info {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: 'Gotham-light';
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 100px; }
