.headerBox{
  position: absolute;
  width: 100%;
  /* background-color: red; */
  /* background-color: #1d212c; */
  /* margin: 5[x] */
}
.logo{
  margin: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.imgContainer{
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  /* transform: translateY(-50%); */
}

.headerMenuItem{
  position: relative;
  margin-right: 10px;
  margin-top: 25px;
  transition: all 0.3s ease;
}
.headerMenuItem:hover{
  opacity: .7;
}

.headerNav{
  position: relative;
  height: 50px;
  top: 50px;
}


.headerNavLeft{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50px;

  font-size: 1em;
  font-family: 'Gotham-bold';
  /* background-color: yellow; */
}
.headerNavRight{
  position: absolute;
  top: 0;
  width: 50%;
  left: 50%;
  height: 50px;
  /* background-color: blue; */
  background-color: rgba(54, 59, 78, 1);
}

.headerNavRight li{
  position: relative;
  margin: 0;
  padding: 0;
  width: 33.33%;
  height: 100%;
  float: left;
  /* background-color: yellow; */
  font-family: 'Gotham-bold';

}

.headerNavRight a{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #363b4d;
  cursor: pointer;
  color: white;
  transition: all .4s ease;
}
.headerNavRight a:hover{
  background-color: yellow;
  color: black;
}
.headerNavRight a span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clicked{
  color: yellow !important;
  background-color: #252936 !important;
}
.border{
  /* border-left: 1px solid rgba(255,255,255,.4); */
}

.border:before {
  content: '';
  display: block;
  position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
  border-left: 1px solid #b7b7b7 !important;
}
.borderRight{
  border-right: 1px solid rgba(255,255,255,.4);
}
.borderRight:before {
  content: '';
  display: block;
  position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
  border-left: 10px solid #b7b7b7 !important;
}

.btDropLeft{
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 100;
  /* border-right: 1px solid red; */
}
.btDropRight{
  position: absolute;
  left: 50%;
  width: 50%%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 100;
  /* background-color: green; */
}
